<div mat-dialog-content>
  <h2 mat-dialog-title>Stock Data for Code: {{ code }}</h2>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  <div *ngIf="buyOrSell">Prediction: {{ buyOrSell }}</div>

  <div *ngIf="data">
    <canvas baseChart
            [data]="chartData1W"
            [options]="chartOptions"
            [type]="'line'">
    </canvas>
  </div>
  <div *ngIf="data">
    <canvas baseChart
            [data]="chartData1M"
            [options]="chartOptions"
            [type]="'line'">
    </canvas>
  </div>

</div>

<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Close</button>
</div>
